body {
  margin: 0px;
  background-color: black;
}

:root {
  --grain-opacity: 0.06;
  --grain-scale: 200px;
  --paper-color: #F1E9D2;
  --bright-btn-color: #636363;
  --bright-color: #404040;
  --dark-color: #2A2A2A;
  --underdark-color: #212121;
  --ultradark-color: #171717;
  --topbar-height: 20px;
  --underbar-height: 8px;
  --sidebar-width: 32px;
  --sidebar-bt-total-pad: 6px;
  --tray-width: 60vw;
  --bl-detail-size-mult: 2;
}

.Mono {
  font-family: "Courier New", "Lucida Console", monospace;
}

.Serif {
  font-family: Garamond, "Georgia", "Times New Roman";
}

.Brush {
  font-family: "Brush Script MT";
}

.paper {
  background-color: var(--paper-color);
  color:#333;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  line-height:1.5;
  border-radius: 2px;
}

.topbar {
  position: sticky;
  top: 0px;
  left: 0px;
  height: var(--topbar-height);
  width: 100vw;
  background-color: var(--dark-color);
  z-index: 10;
}

.underbarCont {
  position: sticky;
  width: 100vw;
  height: var(--underbar-height);
  background-color: var(--underdark-color);
}

.trayblock {
  padding: 0;
  margin: 0;
  background-color: transparent;
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: calc(var(--underbar-height) * calc(var(--bl-detail-size-mult) + 1));
  height: var(--underbar-height);
  width: var(--tray-width);
  transition-property: bottom;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}

.trayblock.extended {
  bottom: calc(-1 * 70vh);
}

.tray {
  position: absolute;
  background-color: var(--ultradark-color);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: calc(70vh + var(--underbar-height));
  width: calc(var(--tray-width) - 16px);
  z-index: -1;
}

.shutTrayBt {
  background-color: var(--dark-color);
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 4px;
  border-style: solid;
}

.ltc {
  /*background-color: transparent;*/
  position: relative;
  height: calc(70vh - calc(var(--underbar-height) * calc(var(--bl-detail-size-mult) + 1)));
  width: 86%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 4px;
}

.slickleft {
  background-color: var(--bright-color);;
  position: absolute;
  left: 0;
  top: calc(-2 * var(--underbar-height));
  height: calc(var(--underbar-height) * var(--bl-detail-size-mult));
  width: calc(3 * calc(var(--underbar-height) * var(--bl-detail-size-mult)));
  corner-top-right-shape: scoop;
  border-top-right-radius: 16px;
}


.slickrightbodyfill {
  background-color: var(--bright-color);
  position: relative;
  height: calc(var(--underbar-height) * calc(var(--bl-detail-size-mult) + 1));
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 16px;
}

.mainSideBar {
  position: sticky;
  width: var(--sidebar-width);
  height: 80vh;
  background-image: linear-gradient(#404040, #2A2A2A);
  border-bottom-right-radius: var(--sidebar-width);
  padding: 3px;
}

.radius-thin {
  border-radius: 4px;
}

@property --sidebar-bt-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #404040;
}
@property --sidebar-bt-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #636363;
}
.sidebarBT {
  position: relative;
  background: radial-gradient(var(--sidebar-bt-dark), var(--sidebar-bt-light));
  border-style: none;
  width: calc(var(--sidebar-width) - var(--sidebar-bt-total-pad));
  height: calc(var(--sidebar-width) - var(--sidebar-bt-total-pad));
  left: 50%;
  padding: 0;
  margin-bottom: 3px;
  transition: --sidebar-bt-dark 0.2s ease-in-out, --sidebar-bt-light 0.2s ease-in-out;
}
.sidebarBT:hover {
  --sidebar-bt-dark: #2A2A2A;
  --sidebar-bt-light: #636363;
}

.anchorMiddleHori {
  transform: translate(-50%, 0);
}